{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
    {% if request.user.is_authenticated %}
    <script>
        window.location.href = '{% url "expenses:index" %}';
    </script>
    {% endif %}

<div class="login-form">
    <form action="{% url 'authentication:password-reset-confirm' uidb64 token %}" method="post">
        <h2 class="text-center">Create new password</h2>

        {% csrf_token %}
        {% include 'messages.html' %}

        <div class="form-group mb-3">
            <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    required="required"
                    name="password"
            >
        </div>
        <div class="form-group mb-3">
            <input
                    type="password"
                    class="form-control"
                    placeholder="Repeat password"
                    required="required"
                    name="password2"
            >
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary submit-btn mb-3 btn-block" type="submit" value="CreatePassword">Create</button>
        </div>
        <div class="clearfix">
        </div>
    </form>
</div>

{% endblock content %}