{% extends 'base_auth.html' %}
{% load static %}


{% block content %}
    {% if request.user.is_authenticated %}
    <script>
        window.location.href = '{% url "expenses:index" %}';
    </script>
    {% endif %}

<div class="login-form">
    <form action="{% url 'authentication:request-password-reset' %}" method="post">
        <h2 class="text-center">Please enter your email address</h2>

        {% csrf_token %}
        {% include 'messages.html' %}

        <div class="form-group mb-3">
            <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    required="required"
                    name="email"
                    value="{{ values.email }}"
            >
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary submit-btn mb-3 btn-block" type="submit" value="Submit">Reset Password</button>
        </div>
        <div class="clearfix">
        </div>
    </form>
    <p class="text-center"><a href="{% url 'authentication:register' %}">Create an Account</a></p>
    <p class="text-center"><a href="{% url 'authentication:login' %}">Login </a></p>
</div>

{% endblock content %}